# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/
client/build
# Ignore environment files
server/.env


# Ignore package-lock.json (optional)
package-lock.json
client/package-lock.json
server/package-lock.json

# Ignore build files
dist/
build/

# Ignore IDE/editor-specific files
.vscode/
.DS_Store
